FileVersion = 1
Dependencies = {corlib = "*", raylib-beef = "*"}

[Project]
Name = "beef-raylib-3d-game"
StartupObject = "Program"
DefaultNamespace = "game"

[Configs.Debug.wasm32]
OtherLinkFlags = "$(LinkFlags) -sFULL_ES3=1 -sMIN_WEBGL_VERSION=2 -sMAX_WEBGL_VERSION=2 -sTOTAL_MEMORY=67108864 -sALLOW_MEMORY_GROWTH=1 --preload-file ../../../assets"

[Configs.Release.wasm32]
OtherLinkFlags = "$(LinkFlags) -sFULL_ES3=1 -sMIN_WEBGL_VERSION=2 -sMAX_WEBGL_VERSION=2 -sTOTAL_MEMORY=67108864 -sALLOW_MEMORY_GROWTH=1 --preload-file ../../../assets"
